name: Run Unit Tests

on:
  workflow_call:
    inputs:
      python_version:
        required: false
        type: string
        default: "3.10"

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python_version }}

      - name: Install Poetry & dependencies
        run: |
          pip install poetry
          poetry install --no-interaction --no-root

      - name: Run unit tests
        run: |
          poetry run pytest tests/unit -q
